#!/bin/zsh
#
# .zshrc - Zsh file loaded on interactive shell sessions.
#

ZDOTDIR=${ZDOTDIR:-$HOME}
export ZDOTDIR

eval "$(direnv hook zsh)"

# Enable Powerlevel10k instant prompt. Should stay close to the top of .zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# Lazy-load (autoload) Zsh function files from a directory.
ZFUNCDIR=$ZDOTDIR/.zfunctions
fpath=($ZFUNCDIR $fpath)
autoload -Uz $ZFUNCDIR/*(.:t)

# Set any zstyles you might use for configuration.
[[ ! -f $ZDOTDIR/.zstyles ]] || source $ZDOTDIR/.zstyles

# Clone antidote if necessary.
if [[ ! -d $ZDOTDIR/.antidote ]]; then
  git clone https://github.com/mattmc3/antidote $ZDOTDIR/.antidote
fi

# Use antidote to create zsh configs
source $ZDOTDIR/.antidote/antidote.zsh
antidote load

# source anything in .zshrc.d/
for _rc in $ZDOTDIR/.zshrc.d/*.zsh; do
  if [[ $_rc:t != '~'* ]]; then
    source "$_rc"
  fi
done
unset _rc

# To customize prompt, run `p10k configure` or edit .p10k.zsh.
[[ ! -f $ZDOTDIR/.p10k.zsh ]] || source $ZDOTDIR/.p10k.zsh

[[ -e $ZDOTDIR/.iterm2_shell_integration.zsh ]] && source $ZDOTDIR/.iterm2_shell_integration.zsh || true
